<h1 class="mb-4">Invoices</h1>

<%= link_to "New Invoice", new_invoice_path, class: "btn btn-primary mb-3" %>

<table class="table table-bordered table-striped align-middle">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>Items</th>
      <th>Total</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.line_items.count %></td>
        <td>₦<strong><%=number_with_precision(
          invoice.line_items.sum {|li| li.quantity * li.price }, precision: 2, delimiter: ',')%>
          </strong></td>
        <td><%= invoice.created_at.strftime('%A, %-d %B %Y %r') %></td>
        <td>
          <%= link_to "View", invoice_path(invoice), class: "btn btn-sm btn-outline-secondary" %>
          <%#= link_to "Edit", edit_invoice_path(invoice), class: "btn btn-sm btn-outline-primary" %>
          <%#= link_to "Delete", invoice_path(invoice), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
